<div class="mt-2 col-10 offset-1">
  <div class="card">
    <div class="card-header"> Tasks </div>
    <div class="card-body">

      <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- id COlumn -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
        </ng-container>

        <!-- id COlumn -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>title</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.title}}</mat-cell>
        </ng-container>

        <!-- id COlumn -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>status</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>
  </div>
</div>
